* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Web Fonts-----------------------------*/

/*Base Styles---------------------------*/

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: black;
  background-color: #ffffff;
}
main {
  background-color: white;
}

a {
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 0),
      rgba(100, 200, 200, 0)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, .8),
      rgba(255, 0, 180, .8),
      rgba(0, 100, 200, .8)
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  background-size: 0 3px, 100% 3px;
}

 ul {
  list-style: none;
  padding-left: 0;
 }

 a, h1 {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
 
nav {
  font-family: 'Roboto', Arial, Verdana;
  font-weight: 400;
  letter-spacing: .05em;
  background-color: #fafafa;
  padding: 25px 10px 15px 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0 20px;
  height: 100px;
  background-color: #fafafa;
  border-top: solid 1px darkgray;
}


/*Main Styles---------------------------*/

.cont {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}
.image {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  min-width: 0;
  text-align: center;
  background-color: #fafafa;
  width: 100%;
  height: auto;
  padding: 30px 60px 25px 60px;
}

.about {
  text-align: center;
  line-height: 1.5em;
  color: darkgray;
  font-size: 1.5rem;
  padding: 0 10px 15px 10px;
  background-color: #fafafa;
  font-size: 16px;
}
#portfolio {
  text-align: center;
  padding: 45px 0;
  text-transform: uppercase;
}

b {
  color: dimgray;
}

h1, .top-nav, .top-nav li {
  text-align: center;
}

h1 a, .portfolio a, .top-nav a {
  color: #000;
  font-weight: bold;
}

.top-nav {
  margin-top: 30px;
}

.top-nav li {
  padding: 10px 0;
  margin: 5px auto;
  background-color: #fff;
}

.top-nav a {
  text-transform: uppercase;
}

.container {
  padding: 0 10px 10px 10px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.col {
  margin: 0;
  min-height: auto;
  color: black;
  text-align: center;
  padding-top: 5px;
}

.col p {
  letter-spacing: 1px;
}

.box-1, .box-2, .box-3, .box-4, .box-5, .box-6 {
  display: flex;
  flex-wrap: wrap;
  min-width: 0;
  color: black;
  background-color: white;
  height:fit-content;
  padding-top: 0;
  margin-top: 0;
}

img {
  width: 100%;
}

h3 {
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

p {
  text-align: center;
  line-height: 1.5em;
  padding-bottom: 30px;
  width: 100%;
  color: darkgrey;
}

.interest, .phone, .email {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  line-height: 1.5em;
  color: darkgrey;
  font-size: 1.5rem;
  background-color: #fafafa;
  font-size: 16px;
  justify-content: center;
}

.interest {
  padding: 30px 10px 15px 10px;
}

.phone {
  padding: 0 10px 15px 10px;
}

.email {
  padding: 0 10px 60px 10px;
}

#contact {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  background-color: #fafafa;
  padding-top: 60px;
  padding-bottom: 30px;
}

h4 {
  font-weight: bold;
}

.top {
  font-size: 16px;
  font-weight: bold;
}

.full {
  display: none;
}

/*Media Queries------------------------*/

@media (min-width: 768px) {
  .cont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    background-color: #fafafa;
    padding: 0 10px 50px;
  }

  .top-nav {
    margin-top: 0;
  }
  .top-nav li {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    background-color: transparent;
  }

  .top-nav li:last-child {
    margin-right: 0;
  }

  .top-nav a {
    color: black;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    width: auto;
  }

  .col.about, .col.image {
    flex-basis: calc(38% - 20px); 
  }

  .col.about {
    padding: 5px 0 0 0;
    text-align: start;
  }
  
  .left {
    text-align: left;
    font-size: 20px;
  }
  .about {
    flex-grow: 2;
  }

  .image {
    padding: 5px 0 0 0;
  }

  .col {
    flex-basis: calc(50% - 20px);
    margin: 10px;
  }

  .interest, .email, .phone {
    font-size: 20px;
  }

  .full {
    display: inline-block;
  }
  
  .top {
    display: none;
  }

}

@media (min-width: 1024px) {
 
  body {
    padding: 0 30px;
    background-color: #fafafa;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    padding: 10px 10px;
    height: 100px;
    background-color: #fafafa;
  }
 
  .col {
    flex-basis: calc(33.333% - 20px);
  }

  .col.name {
    text-align: left;
  }

  .col.top-nav {
    text-align: right;
  }

  footer {
    padding: 0;
  }
}

